
body {
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    color: #fff;
    

}

.header::after {
    content: '';
    height: 90vh;
    width: auto;
    background-image: url(../img/parkour.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0vh;
    display: block;
}
.header-content {
    position: absolute;
    top: 83vh;
    width: 90%;
    height: 90vh;
    margin: 5%;

}

.bg-light {
    background: rgb(255, 2, 2);
    
}

ul.tabs{
    margin: 0%;
    width: 100% auto;
    height: auto;
    background: rgb(0, 238, 255);
    list-style: none;
    display: flex;
    

}
ul.tabs li{
    width: 55% ;

}
ul.tabs li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    text-align: center;

    display: block;
    padding: 5px 0px;
    margin: auto;

}
.active{
    background: rgb(105, 105, 105);
}
.secciones{
    
    margin: 5%;
    background: rgb(102, 102, 102);
}
.secciones article{
    padding: 30px;
}
.secciones article p{
    text-align: justify;
    
}
/*--------------imagenes-------------------*/
img{
    width: 100% ;

    display: block;

}


/*---------------titulos.................*/
 h1{
    background: #fff;
    text-align: center;
    color: #000;
    margin-bottom: 0px;
    font-size: 35px
}
h2{
    width: 100%;
    
    background: rgb(255, 255, 255);
    text-align: center;
    color: rgb(255, 0, 0);
    margin-bottom: 0px;
    font-size: 35px
}
h3{
    
    background: rgb(255, 255, 255);
    background-position-x: center;
    text-align: center;
    color: rgb(255, 0, 0);
    margin-bottom: 0px;
    font-size: 45px
}
/*---------------parrafoss.................*/

.p{
    font-size:  30px;
}

.caja5:nth-child(1) p{
    background: #fff;
    text-align: center;
    color: #000;
    margin-bottom: 15px;
    font-size: 35px
}

.container{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}
.grid-2{
    display: grid;
    grid-template-columns: 900px 300px;
    grid-gap: 20px;
}
.grid-5{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-gap: 20px;
}

.grid-05{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    grid-gap: 20px;
}
.grid-cn{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
}

/*-----------CAJA DE COMENTARIOS----------------------*/

.ctn-lbl-comentar{
    width: 100%;
    text-align: center;
}
.lbl-comentar{
    color: rgb(65, 249, 255);
    font-family: cursive;
    font-size: 20px;
    

}
/*-----------CAJA DE YOU TUBE----------------------*/

.cajasY3{
    display: table-cell;
    padding: 20px;
    width: 35%;
    margin: 0%;
}

/*-----------tamaño de pagina minimo 560----------------------*/

@media screen and (max-width: 560px){

    .header::after {
        
        width: none;
        flex-grow: 1;
        flex-basis: 0;  
    }
    .header-content{
        width: 80%;
        margin: 9%;
        
    }
}


@media (max-width: 800px){

    .secciones{
        width: 90%;
        
    }
    .grid-2{
        grid-template-columns: 1fr;
    }
    .grid-5{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .grid-05{ 
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .grid-cn{ 
        grid-template-columns: 1fr;
        
    }

}
@media screen and (max-width: 560px){
    ul.tabs li{
        width: none;
        flex-grow: 1;
        flex-basis: 0;   
    }
 
@media screen and (max-width: 560px){

    ul.tabs a{
        padding: 20px 0px;
        font-size: 50px;
        
    }
    ul.tabs li a .tab-text{
        display: none;
        font-size: 50px;
    }
    .tabs-container article{
        padding: 80px;
        
    }
}
@media (max-width: 1100px){

    .grid-2{
        grid-template-columns: 1fr;
    }
    .grid-5{
        grid-template-columns: 1fr 1fr  1fr;
        grid-gap: 20px;
    }
    .grid-05{ 
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    .grid-cn{ 
        grid-template-columns: 1fr;
        
    }

}
